@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* we declare the root colors */
:root{
   --light:#f6f6f9;
   --primary:#1976d2;
   --light-primary:#CFE8FF;
   --grey:#eee;
   --dark-grey:#AAAAAA;
   --dark:#363949;
   --light-danger:#FECDD3;
   --warning:#FBC02D;
   --sucess:#388E3C;
   --light-success:#bbf7d0;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
.bx{
    font-size: 1.7rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
html{
    overflow-x: hidden;
}
body.dark{
    --light:#181a1e;
    --grey:#25252c;
    --dark:#fbfbfb;
}
body{
    background-color:var(--grey);
    overflow-x:hidden;
}
.sidebar{
    position:fixed;
    top:0;
    left:0;
    background:var(--light);
    width:230px;
    height: 100%;
    z-index:2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition:all 0.3s ease;

}